$color-light-blue: #c1e9e9;

*{
  margin: 0;
  padding: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
}

.header {    
  line-height: 23px;
  display: flex;  
  width: 100%;
  max-width: 1440px;
  background-color: $color-light-blue;
  margin: 0 auto;  
  height: 48px;
  flex-direction: row;
  align-items: center;  
    &--button_menu {
      width: 18px;
      height: 12px;
      margin: 0 36px 0 20px;
      border: none;
      background: url('./assets/images/Shape_menu.svg') no-repeat;
      cursor: pointer;
    }
    &--title {
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 20px;
      line-height: 23px;
      margin: 0 auto 0 0;
    }
    &--button_option {
      width: 4px;
      height: 16px;
      margin: 0 20px 0 5px;
      border: none;
      background: url('./assets/images/Shape_option.svg') no-repeat;
      cursor: pointer;
    }
}

.main {
  display: grid;
  width: 100%;
  max-width: 1440px;  
  margin: 50px auto 0 auto;  
  grid-row-gap: 50px; 
  grid-template-columns: 240px 512px 240px;
  justify-content: space-between;
  .main_div {
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.251);
  }
}

.tools_wrapper {
  align-self: start;
  width: 200px;
  height: 246px;
  margin-left: 15px;
  grid-row: 2;
  .menu_tools{
    list-style: none;
    &--item{      
      height: 54px;      
      padding-left: 54px;
      cursor: pointer;
      background-position: 16px 16px;
      line-height: 54px;
      &:hover{
        background-color:#e3ecf0;
      }
    }
  }  
}

.btn_fill_bucket { 
  background: url("./assets/images/icon-fill_bucket.svg") no-repeat;
}

.btn_choose_color { 
  background: url("./assets/images/icon-choose_color.svg") no-repeat;
}

.btn_pencil {
  background: url("./assets/images/icon-pencil.svg") no-repeat;
}

.btn_clear {
  background: url("./assets/images/clear-icon.svg") no-repeat;
}

.canvas_wrapper {
  width: 512px;
  height: 512px;    
  grid-row: 2/4;
  grid-column: 2;
}

canvas{
  width: 512px;
  height: 512px;
  image-rendering: pixelated;
}

.form_canvas {
  position: relative;
  width: 512px; 
  grid-row: 1;
  grid-column: 2;  
  display: flex;
  height: 40px;
  margin: 0px 0px -40px 0;
  position: relative;  
  width: 512px;
  &--alert {
    position: absolute;
    display: none;
    font-size: 0.6em;
    font-family: Arial;
    color: #d62f2f;
    left: 100px;
    z-index: 10;
  }
  .input{
    border: none;
    outline: none; 
  }
  
  &--input {
    position: relative;
    margin: 0 auto 0 25px;    
    width: 260px;
    padding: 8px 37px 9px 15px;
    box-sizing: border-box;
    box-shadow: inset 0 0 5px rgba(0,0,0,0.1), inset 0 1px 2px rgba(0,0,0,0.3);
    border-radius: 20px;
    background: #EEE;
    font: 13px Tahoma, Arial, sans-serif;
    color: #555;          
  }  
  &--input:focus{
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2), inset 0 1px 2px rgba(0,0,0,0.4);
    background: #E8E8E8;
    color: #333;
  }  
  &--btn {
    background-color: rgb(107, 243, 220);
    border-radius: 4px;
    width: 60px;
    color: white;
    cursor: pointer;
    -webkit-appearance: none;
  }
}

.size_wrapper {
  justify-self: right;
  width: 200px;
  height: 246px;
  margin-right: 15px;
  grid-row: 2;
  grid-column: 3;
  .menu_size{
    list-style: none;   
    &--item{      
      height: 54px;      
      padding-left: 54px;
      cursor: pointer;
      background-position: 16px 16px;
      line-height: 54px;
      &:hover{
        background-color:#e3ecf0;
      }
    }
    .selected{
      background-color: #e3ecf0;
    }
    
  }

}

.color_wrapper {
  align-self: start;
  width: 200px;
  height: 246px;
  margin-left: 15px;
  grid-row: 3;
  grid-column: 1;
  
  .menu_color {
    list-style: none;
    &--item {
      position: relative;
      height: 54px;      
      padding-left:0;
      cursor: pointer;
      background-position: 16px 16px;
      line-height: 54px;
      &_label {
        display: inline-block;
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
      &:hover{
        background-color:#e3ecf0;
      }
      .palette--input{
        display: none;
      }    
    }
    &--item_text {
      margin-left: 54px;
      font-size: inherit;
    }     
    &--color {
      position: absolute;    
      cursor: pointer;
      height: 20px;
      width: 20px;    
      border-radius: 10px;
      border: black solid 1px;      
      top: 15px;
      left: 20px;
    }
  }
}

.selected {
  background-color:#e3ecf0;
  color: blue;
  font-size: 23px; 
  border-radius: 10px; 
}


